
.open-sans-normal {
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
}


/* shared style */
.text-orange{
    color: #FD6E0A;
}

.text-dark-2{
    color: #474747;
}

.orange-button{
    color: white;
    background-color: #FD6E0A;
    font-weight: bold;
    padding: 18px 35px;
    border-radius: 5px;
    border: none;
}

.white-button{
    color: #FD6E0A;
    background-color: white;
    font-weight: bold;
    padding: 18px 35px;
    border-radius: 5px;
    border: 1px solid #FD6E0A;
}

.bg-color{
    background-color: #FFF8F3;
}

.text-center{
    text-align: center;
}

.space-right{
    margin-right: 20px;
}

.icon{
    margin-right: 10px;
}
/* HEADER */

.header{
    background-image:url('../images/developer.png'), url('../images/header_bg.png');
    background-repeat: no-repeat;
    background-position: left center, bottom right;
}

/* Nav styles */

.navigation-bar{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0px 200px;
}

.nav-title{
    font-weight: 800;
    font-size: 45px;
}

nav ul{
    display: flex;
    align-items: center;
}

nav ul li{
    list-style: none;
    margin-right: 51px;
}

nav ul a{
    text-decoration: none;
    color: #474747;
}


/* Hero starts here */
.banner{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-right: 38px;
    margin-left: 200px;
}

.banner-content{
    max-width: 585px;
}

.banner-greetings{
    font-size: 45px;
    font-weight: 600;
}

.banner-title{
    font-size: 85px;
    font-weight:700;
}

.banner-description{
    font-size: 18px;
}

.banner-profile-pic{
    width: 584px;
    height: 676px;
}


/* Main Section */

.section-title{
    font-size: 35px;
    font-weight: 700;
    color: #181818;
}

.section-description{
    font-size: 18px;
    color: #757575;
}

/* main styles */
main{
    max-width: 1140px;
    margin: 0 auto;
}

main section{
    margin-top: 130px;
    margin-bottom: 130px;
}

/* About section */

.about{
    border-radius: 10px;
    padding: 130px 150px;
    text-align: center;
}

.about-items{
    display: flex;
    gap: 50px;
    justify-content: center;
}


.item-title{
    color: #757575;
    font-weight: 400;
}

.item-description{
    color: #474747;
    font-weight: 700;
}


/* Skills sections */

.skills-container{
    display: flex;
    gap: 24px;
}

.skills{
    padding: 30px;
    border-radius: 5px;
    box-shadow: 0px 6px 50px 0px rgba(0, 0, 0, 0.06);
}


/* resume section styles */
.resume-container{
    display: flex;
    gap: 70px;

}

.resume-column-title{
    font-size: 30px;
    font-weight: 700;
    color: #474747;
}

.experience-title{
    font-size: 25px;
    font-weight: 700;
    color: #474747;
    margin-bottom: 5px;
}

.experience-sub-title{
    font-size: 20px;
    font-weight: 600;
    color: #757575;
    margin-top: 10px;
}

.experience-description{
    font-size: 16px;
    font-weight:400;
    color: #757575;
    margin-bottom: 30px;
}


.resume-down-button{
    margin-top: 50px;
}

.resume-down-button button{
    font-size: 20px;
    font-weight: 700;
}


/* footer styles */

footer{
    padding: 130px 230px;
    display: flex;
    gap: 115px;
}

.footer-column{
    width: 50%;
}

.footer-input-text{
    width: 461;
    height: 61;
}

footer input[type='text'], input[type='email'] {
    height: 64px;
    width: 460px;
    padding-left: 30px;
    padding-top: 5px;
    padding-bottom: 5px;
    font-size: 18px;
    border-radius: 5px;
    border: none;
}

footer textarea{
    height: 180px;
    width: 460px;
    padding-left: 30px;
    padding-top: 20px;
    font-size: 18px;
    border-radius: 5px;
    border: none;
}

.input-footer{
    margin-bottom: 24px;
}

/* Responsive */
.hide{
    display: none;
}

/* Small device */
@media screen and (max-width:576px) {
    .skills-container{
        flex-direction: column;
    }

    .resume-container{
        flex-direction: column;
    }


    footer{
        flex-direction: column;
        padding: 20px;
    }

    .footer-column{
        width:100%;
    }

    footer input[type='text'], input[type='email'] {
        width: calc(100% - 40px);
    }

    footer textarea{
        width: calc(100% - 40px);
        }

    .about-items{
        flex-direction: column;
    }

    .about{
    padding: 20px;
    }

    .banner{
        flex-direction: column;
        margin: 10px;
    }

    .header{
    background-image:url('../images/header_bg.png');
    background-repeat: no-repeat;
    background-position: bottom right;
    }

    .banner-profile-pic{
        width: 100%;
        height: auto;
    }

    .navigation-bar{
        flex-direction: column;
    }

    nav ul{
        flex-direction: column;
        gap: 15px;
    }
}